@model IEnumerable<crudTest.Models.IceCream>

@{
    ViewBag.Title = "Index";
}

<br>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            Average Rank:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        var imagePath = @item.ImageUrl;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>
            <td>
                <img src="@imagePath" width="150px" />
            </td>
            <td>
                @{
                    var temp = 0;
                    var noRank = "";
                    if (item.Recommendations != null)
                    {

                        foreach (var Rec in item.Recommendations)
                        { temp += Rec.Rank; }
                        temp = temp / item.Recommendations.Count();
                    }
                    else
                    { noRank = "- No Rank"; }
                }
                <div>@temp @noRank</div>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "IceCream", new { @id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Rate", "Edit", "IceCream", new { @id = item.ID }, new { @class = "btn btn-default" })


            </td>
        </tr>


    }

</table>


