@model IEnumerable<crudTest.Models.Recommendation>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var imagePath = @item.ImageUrl;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@imagePath" width="75" />
                </td>
            </tr>
        }

    </table>
